.popup__input-error{
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    max-width: 358px;
}
@media screen and (max-width: 500px) {
    .popup__input-error{
        width: 238px;
    }
}