.popup__input {
    max-width: 100px;
    max-height: 50px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 20px;
    color: black;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline:none;

}
