.popup__inputs {
    margin: 24px auto 0 auto;
    padding: 0;
    width: calc(100% - (36px * 2));

}

@media screen and (max-width: 500px) {
    .popup__inputs{
        margin: 45px auto 0 auto;
        width: calc(100% - (22px * 2));
        max-width: 238px;
    }
}